.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color:#f5ecdc;
}


.logo{
    width: 60%;
    height: auto;
}

.containerLogo{
    width: 40%;
    margin-top: 2rem;
}