.container__register{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F7F5F2;
    color: #212121;
    text-align: center;
}

.table{
    width: 100%;
}

.tbody{
    width: 100%;
}

tr th{
    padding: 15px 45px;
    border: 1px solid #BDBDBD;
}