.total{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    text-align: start;
    margin: 40px 60px;
}

.totals{
    border: 4px solid var(--main-color);
    margin: 20px 2rem;

}


.totals h1{
    margin: 20px 0;
    padding: 10px;

}

.porcentaje{
    border: 4px solid var(--main-color);
    padding: 10px;
}

.porcentaje h3{
    text-transform: uppercase;
    margin: 10px 5px;
}